nav.navbar.navbar-fixed-top#mainNav
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(href='/dashboard')
        i.fa.fa-shirtsinbulk
        |  Super Laundry
    .collapse.navbar-collapse

      ul.nav.navbar-nav.navbar-right
        li.nav-item
          a.nav-link(href='/dashboard') Dashboard
        li.nav-item
          a.nav-link(href='/dashboard/storelocations') Store Locations
        li.nav-item
          a.nav-link(href='/dashboard/services') Services
        li.nav-item
          a.nav-link(href='/logout') Logout
