extends dashboard_layout

block content
  section#services
    .container-fluid
      .row
        .col-lg-12.text-center
          h2 Services
          .row.cheapest
            .col-md-3
              i.fa.fa-thumbs-up.fa-4x
              h3 Cheapest Dry Clean!
              h4 Mrs Laundry
              h4 @ $0.50/piece
            .col-md-3
              i.fa.fa-money.fa-4x
              h3 Lowest Price for Ironing!
              h4 Piing
              h4 @ $0.30/piece
            .col-md-3
              i.fa.fa-handshake-o.fa-4x
              h3 Most Value for Money Cloths Folding!
              h4 ABC Clean
              h4 @ $0.20/piece
            .col-md-3
              i.fa.fa-arrow-circle-down.fa-4x
              h3 Discounted Washing!
              h4 White Wash
              h4 @ $0.10/piece
          .row.serviceForm
            .col-lg-4.col-lg-offset-4.text-center  
              if errors
                each error, i in errors
                  .alert.alert-danger #{error.msg}
              if success_msg
                each msg, i in success_msg
                  .alert.alert-success #{success_msg}
              if error_msg
                each msg, i in error_msg
                  .alert.alert-danger #{error_msg}   
              if error
                each msg, i in error
                  .alert.alert-danger #{error}
              form(role='form', method='POST', action='/dashboard/services')
                .form-group
                  h4 Please choose a service
                  select.form-control(name='service')
                    option Please Select
                    option Dry Clean 
                    option Ironing
                    option Cloths Folding
                    option Mega Wash
                .form-group
                  h4 Please choose a company
                  select.form-control(name='company')
                    option Please Select
                    option ABC Clean
                    option Mrs Laundry
                    option Blue Lagoon
                    option White Wash
                    option Piing
                .form-group
                  h4 Please select the collection time
                  select.form-control(name='collectionTime')
                    option Please Select
                    option 6am - 10am
                    option 10am - 2pm
                    option 2pm - 6pm
                    option 6pm - 9pm   
                .form-group
                  h4 Please enter your contact number
                  input.form-control(type='number', placeholder='contact number', name='contact')
                  button.btn.btn.btn-primary.serviceBtn(type='submit')
                    | Sign Up
