extends dashboard_layout

block content 
  section#settings
    .container-fluid
      .row
        .col-lg-12.text-center
          h3 Settings 
      .row.settingRow
        .col-lg-12.text-center
          h4.settingN Super Laundry Notification 
            input(type='checkbox', data-toggle='toggle')
          h4.settingN SMS Notification
            input(type='checkbox', data-toggle='toggle')
          h4.settingN Email Notification
            input(type='checkbox', checked='', data-toggle='toggle')



            
