extends dashboard_layout

block content
  section#storelocations
    .container
      .row
        .col-lg-12.text-center
          h2 Store Location Nearby
          #map
            .row
              .col-lg-12.text-center.loading
                i.fa.fa-spinner.fa-pulse.fa-3x.fa-fw
                h3 Loading...
